* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
}

#nav-list {
  display: flex;
  list-style: none;

  li {
    margin-left: 1rem;

    a {
      text-decoration: none;
    }
  }
}
