* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-around;
}

#nav-list {
  display: flex;
  list-style: none;
  justify-content: space-around;

  a {
    text-decoration: none;
  }
}

/* MAIN */

main {
  div {
    color: white;
    background-color: black;
    min-height: 50px;
  }
}

#navi-blu {
  background-color: rgb(0, 106, 255);
  height: 50px;

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
}
