* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
}

nav {
  #nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;

    a {
      color: #006aff;
      text-decoration: none;
    }
  }
}

/* MAIN */

main {
  background-color: black;

  div {
    color: white;
    min-height: 50px;
  }
}

#navi-blu {
  background-color: #006aff;
  height: 50px;

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
}

/* FOOTER */

footer {
  overflow-y: hidden;
  height: 350px;
  background-image: url(../src/assets/img/footer-bg.jpg);
  background-size: cover;
}

#footer-standard {
  display: flex;
  padding: 2rem;

  #footer-list {
    color: white;
    display: flex;

    ul {
    }

    h3 {
      margin: 1rem 0;
    }
  }

  #footer-logo {
    width: 60%;

    img {
      height: 100%;
    }
  }
}

#social-footer {
  background-color: rgb(46, 46, 46);
}
