* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

/* HEADER */
header {
  display: flex;
}

#nav-list {
  display: flex;
  list-style: none;

  a {
    text-decoration: none;
  }
}

/* MAIN */

main {
  background-color: black;

  div {
    color: white;
    min-height: 50px;
  }
}

#navi-blu {
  background-color: rgb(0, 106, 255);
  height: 50px;

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
}

/* FOOTER */

footer {
  background-image: url(../src/assets/img/footer-bg.jpg);
}

#footer-standard {
  display: flex;
  padding: 2rem;

  #footer-list {
    color: white;
    display: flex;

    ul {
    }

    h3 {
      margin: 1rem 0;
    }
  }

  #footer-logo {
    width: 60%;
  }
}
