* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;

  #header-logo {
    padding: 5px;
  }

  nav {
    display: flex;
    align-items: center;

    #nav-list {
      display: flex;
      list-style: none;
      gap: 1.5rem;

      a {
        color: #006aff;
        text-decoration: none;
      }
    }
  }
}

/* MAIN */

main {
  background-color: black;

  div {
    color: white;
    min-height: 50px;
  }
}

/* JUMBOTRON */

#jumbo-img-container {
  height: 400px;
  overflow-y: hidden;

  #jumbo-img {
    width: 100%;
  }
}

/* COMICS CARD */

#card-daddy {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;

  .card-img-container {
    height: 250px;
    width: 162.5px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}

/* BLU NAV-BAR */
#navi-blu {
  background-color: #006aff;
  height: 50px;
  align-content: center;

  a {
    text-decoration: none;
    color: white;

    img {
      height: 100%;
    }
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
}

/* FOOTER */

footer {
  overflow-y: hidden;
  padding-top: 2rem;
  height: 350px;
  background-image: url(../src/assets/img/footer-bg.jpg);
  background-size: cover;
}

#footer-standard {
  display: flex;
  justify-content: space-between;

  #footer-list {
    color: white;
    display: flex;
    width: 35%;
    justify-content: space-between;

    ul {
      list-style: none;

      h3 {
        margin: 1rem 0;
      }

      li {
        opacity: 65%;
      }
    }
  }

  #footer-logo {
    img {
      position: relative;
      top: -5rem;
      height: 87%;
    }
  }
}

#social-footer {
  padding: 1.5rem;
  background-color: #2e2e2e;

  button {
    padding: 0.8rem;
    color: white;
    background-color: #2e2e2e;
    margin: 2px solid #006aff;
    border-color: #006aff;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#social-icon {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  h4 {
    text-align: center;
    color: #006aff;
  }
}
