* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;

  nav {
    display: flex;
    align-items: center;

    #nav-list {
      display: flex;
      list-style: none;
      gap: 1.5rem;

      a {
        color: #006aff;
        text-decoration: none;
      }
    }
  }
}

/* MAIN */

main {
  background-color: black;

  div {
    color: white;
    min-height: 50px;
  }
}

#navi-blu {
  background-color: #006aff;
  height: 50px;
  align-content: center;

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
}

/* FOOTER */

footer {
  overflow-y: hidden;
  padding-top: 2rem;
  height: 350px;
  background-image: url(../src/assets/img/footer-bg.jpg);
  background-size: cover;
}

#footer-standard {
  display: flex;
  justify-content: space-between;

  #footer-list {
    color: white;
    display: flex;
    width: 35%;
    justify-content: space-between;

    ul {
      list-style: none;

      h3 {
        margin: 1rem 0;
      }

      li {
        opacity: 65%;
      }
    }
  }

  #footer-logo {
    img {
      position: relative;
      top: -4rem;
      height: 87%;
    }
  }
}

#social-footer {
  background-color: rgb(46, 46, 46);

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#social-icon {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 1rem;
}
